.searchUser{
    display: flex;
    flex-direction: column;
    gap:14px;
    background-color: rgb(250, 250, 250);
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}