/* .searchUser{
    display: flex;
    flex-direction: column;
    gap:14px;
    background-color: rgb(250, 250, 250);
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
} */

.searchUser {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontal */
  justify-content: center;

  width: 70%;
  max-width: 400px;
  gap: 16px;
  padding: 24px;
  border-radius: 12px;

  margin-bottom: 40px;
  margin: 0 auto;
}

.searchUser input {
  width: 100%;
  padding: 12px 14px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.searchUser button.botonBuscar {
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.searchUser button.botonBuscar:hover {
  background-color: #b91c1c;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
