.userItem{
    border: solid 1px rgb(175, 172, 172);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    box-sizing: border-box;

  overflow-wrap: break-word;
  word-break: break-word;
    
}
.userBotonsContain{
    display: flex;
    gap: 10px;
}

.editUserForm {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  padding: 15px;
  background-color: rgb(250, 250, 250);
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}


.editUserForm input,
.editUserForm select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.editUserForm button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #a1af93;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.editUserForm button:hover {
  background-color: #88927e;
}

.editUserForm button[type="button"] {
  background-color: #dc2626;
}

.editUserForm button[type="button"]:hover {
  background-color: #b91c1c;
}

.editUserForm .error {
  color: #d32f2f;
  font-size: 13px;
  margin-top: 5px;
}
.deleteButton{
   background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.35rem 0.6rem;
  cursor: pointer;
  transition: background 0.2s ease;
  padding: 8px;
  transition: background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}
.deleteButton:hover {
  background-color: #b91c1c;
  transform: scale(1.05); /* peque単o aumento de tama単o */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* sombra sutil */
}
.editButton{
   background-color: #a1af93;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.35rem 0.6rem;
  cursor: pointer;
  transition: background 0.2s ease;
  padding: 8px;
  transition: background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
}
.editButton:hover {
  background-color: #88927e;
  transform: scale(1.05); /* peque単o aumento de tama単o */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* sombra sutil */
}