.adminDashboard{
    display: flex;
    flex-direction: column;
    align-items: center; /* centra horizontal */
    justify-content: center; 
    
}

.adminDashboard h1{
   color:rgb(34, 63, 88);
}

.adminButtons{
    display: flex;
    flex-direction: column;
    align-items: center; /* centra los botones */
    
    
    gap:10px;
    width: 300px;
}

.adminButtons button{
    width: 100%;
    color: white;
}

.adminButtons a{
    color: white;
}