body{
    min-height: 100vh;  
    margin: 0;  
    padding: 20px;
    display: flex;
    flex-direction: column; /* mantiene flujo vertical general */
}
main{
   width: 90%;
   margin: 0 auto;
  
}
a {
    text-decoration: none;
}
button {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color:rgb(34, 63, 88);
    color: white;
    

}
button:hover{
    transform: translateY(-2px);
}

h1{
    color:rgb(34, 63, 88);
    font-size: 35px;
}
input{
  flex: 1; /* ocupa todo el espacio disponible */
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.error {
  color: red;
  font-size: 14px;
}


