.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
  background-color: #000;
  color: #fff;
}

.navbar-logo {
  height: 60px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.navbar-links a:hover {
  color: #e60012;
}

.logoutBtn {
  background: #e60012;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}
