.perfil {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Desktop */
.perfil.desktop {
  flex-direction: row;
}

/* Mobile */
.perfil.mobile {
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  text-align: right;
}

